#site_header{
    background-color: black;
    padding: 20px;
    nav{
        button{
            padding: 0.5rem;
            margin: 0 10px;
            background-color: orange;
            border-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
}